<ion-view title="Events" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="events-heading2" style="color:#000000;">Today-Date</h1>
    <ion-list id="events-list1">
      <ion-item class="item-thumbnail-left balanced" id="events-list-item10" ui-sref="eventDetails">
        <h2balanced>Event 1
          <p>Time and Place</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="events-list-item12" ui-sref="eventDetails">
        <h2balanced>Event 2
          <p>Time and Place</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="events-list-item13" ui-sref="eventDetails">
        <h2balanced>Event 3
          <p>Time and Place</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="events-list-item14" ui-sref="eventDetails">
        <h2balanced>Event 4
          <p>Time and Place</p>
        </h2balanced>
      </ion-item>
    </ion-list>
    <button id="events-button2" class="button button-positive  button-block">View Location Map</button>
  </ion-content>
</ion-view>