<ion-view title="FAQs" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="fAQs-heading5" style="color:#000000;">Conference Information</h3>
    <ion-list id="fAQs-list3">
      <ion-item id="fAQs-list-item31">FAQ 1</ion-item>
      <ion-item id="fAQs-list-item32">FAQ 2</ion-item>
      <ion-item id="fAQs-list-item33">FAQ 3</ion-item>
    </ion-list>
    <div id="fAQs-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Details</strong>
      </p>

      <p style="color:#000000;">Lorem ipsum dolor sit amet, dolore argumentum qui ut, ut cum nusquam invenire, doctus aliquam ne quo. Simul offendit duo in, eum ut autem fastidii. Dicant honestatis eam ea. Ei putent disputando pri. Eius simul vocibus in qui, quo dicit virtute
        in. At tale dissentias vim. Eum modo persecuti delicatissimi eu.</p>

      <p style="color:#000000;">Sea modus sanctus fastidii at, ne qui eligendi insolens. Mel in facer ubique everti. Dicta officiis per an eripuit.</p>
    </div>
    <button id="fAQs-button12" class="button button-positive  button-block">View Contact Info</button>
  </ion-content>
</ion-view>