<ion-view title="Social Media" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="socialMedia-list2">
      <ion-item class="item-divider" id="socialMedia-list-item-divider1"> Recent Tweets</ion-item>
      <ion-item class="item-avatar" id="socialMedia-list-item26">
        <h2>Tweet</h2>
      </ion-item>
      <ion-item class="item-avatar" id="socialMedia-list-item25">
        <h2>Tweet</h2>
      </ion-item>
      <ion-item class="item-avatar" id="socialMedia-list-item27">
        <h2>Tweet</h2>
      </ion-item>
      <ion-item class="item-divider" id="socialMedia-list-item-divider2"> ISCAP Social Accounts</ion-item>
      <ion-item class="item-icon-left calm" id="socialMedia-list-item19">
        <i class="icon ion-social-twitter"></i>Conference Twitter</ion-item>
      <ion-item class="item-icon-left dark" id="socialMedia-list-item20">
        <i class="icon ion-social-instagram-outline"></i>Conference Instagram</ion-item>
      <ion-item class="item-icon-left positive" id="socialMedia-list-item21">
        <i class="icon ion-social-facebook"></i>Conference Facebook</ion-item>
      <ion-item class="item-icon-left assertive" id="socialMedia-list-item24">
        <i class="icon ion-social-pinterest"></i>Conference Pintrest</ion-item>
    </ion-list>
    <div id="socialMedia-button-bar1" class="button-bar">
      <button id="socialMedia-button9" class="button button-positive  button-block">Login</button>
      <button id="socialMedia-button11" class="button button-positive  button-block">Sign Up</button>
    </div>
  </ion-content>
</ion-view>