<ion-view title="Upload Photo" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="uploadPhoto-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="uploadPhoto-toggle2">Add to Gallery</ion-toggle>
      <label class="item item-input" id="uploadPhoto-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="Caption ">
      </label>
    </form>
    <button id="uploadPhoto-button4" class="button button-positive  button-block">Upload</button>
    <h3 id="uploadPhoto-heading3" style="color:#000000;">Conference Gallery</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="uploadPhoto-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="uploadPhoto-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="uploadPhoto-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="uploadPhoto-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>